<!DOCTYPE html>
<html>
<head>
  <title>QR it</title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="content">

		<div class="header">
      <div class='searchform'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <a class="logo" href="/">
        <h1>QR it</h1>
        <i>alpha</i>
      </a>
		</div>

		<div class="subheader">
			<div class="subheader_right">
        <div style="float:left">
          <%= link_to 'Главная', '/' %>
          <%= link_to 'О проекте', '/about' %>
          <%= link_to 'Контакты', '/contact' %>
        </div>
        <div style="float:right">
          <% if current_user %>
            <%= current_user.email + ',' %>
            <%#= link_to 'События', events_path %>
            <%#= link_to 'Места', points_path %>
            <%= link_to 'Выйти', :destroy_user_session %>
          <% end %>
        </div>
     </div>
     <!-- <div class="subheader_left"> <a href="#">Text!</a> </div> -->
		</div>
  						
		<div class="right">
		<!--	<div class="info"> <a class="info" href="#nogo"></a> </div> <p>Text.</p> -->
		  <%= yield %>	
      <!-- <div class="right_left"> </div> <div class="right_right"> </div> -->
		</div>
		<div class="left">
      <% if current_user %>
        <h2>Блок инструментов</h2>
        <p><%= link_to 'Визитки', qr_items_list_path(Vcard.name.underscore) %></p>
        <p><%= link_to 'Смс',     qr_items_list_path(SmsMessage.name.underscore) %></p>
        <p><%= link_to 'Текст',   qr_items_list_path(SimpleText.name.underscore) %></p>
        <p><%= link_to 'Ссылки',  qr_items_list_path(WebUrl.name.underscore) %></p>
      <% else %>
        <p><%= link_to 'Войти', new_user_session_path %></p>
        <p><%= link_to 'Зарегистрироваться', new_user_registration_path %></p>
      <% end %>
		</div>
		
		<div class="footer">
			<p><a href="/">Главная</a> | <a href="/about">О проекте</a> | <a href="/contact">Контакты</a></p>	
			<p>© Copyright 2011, <a href="/">QR it</a> | WiseAdvise </p>
		</div>
	</div>
</body>
</html>
