<!DOCTYPE html>
<html>
<head>
  <title>Clubber</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if current_user %>
  <%= link_to 'События', events_path %>
  <%= link_to 'Места', points_path %>
  <%= link_to 'Выйти', :destroy_user_session %>
<% end %>
<%= yield %>

</body>
</html>
